body {
    background-image: url('img/metal-page-background.jpg');
    background-size: cover;
    background-repeat: repeat-y;
}

.wrapper {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(230, 115, 0);
    margin: 10px;
    padding: 20px;
}

.about {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif	;
    font-size: 17px;
    text-align: left;
    padding: 10px;
    margin: 0 auto;
}

h1 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif	;
    color: cyan;
}

.bands {
    text-align: center;
}

    .bands ul {
        margin: 30px;
    }


    .bands li {
        display: inline-table;
        padding-left: 20px;
        padding-right: 20px;
    }

    .bands h4 {
        color: cyan;
    }

    .bands a {
        text-decoration: none;
        color: cyan;
    }

.music {
    text-align: center;
    margin: 20px;
}

footer {
    color: rgb(115, 230, 0);
    text-align: center;
    font-size: 17px;
}

.button {
    background-color: rgb(242, 242, 242);
    width: 8%;
    font-size: 14px;
    border: solid grey;
}

    .button a {
        text-decoration: none;
        color: black;
    }
